<div class=container>
    
    <div >
        <label for="codigo" class="form-label">Codigo</label>
        <h4>{{containerBorrar.codigo}}</h4>
        <!-- <input type="number" class="form-control" id="codigo"  [(ngModel)]="codigo" > -->

    </div>


    <div >
        <label for="marca" class="form-label">Marca</label>
        <!-- <input type="text" class="form-control" id="marca"  [(ngModel)]="marca" > -->
        <h4>{{containerBorrar.marca}}</h4>
        
    </div>

    <div >
        <label for="capacidad" class="form-label">Capacidad</label>
        <!-- <input type="number" class="form-control" id="capacidad"  [(ngModel)]="capacidad"> -->
        <h4>{{containerBorrar.capacidad}}</h4>
        
    </div>

    <br>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="borrarContainer()" >Borrar Container</button>

</div>
