<div class=container>
    
    <div >
        <label for="codigo" class="form-label">Codigo</label>
        <input type="number" class="form-control" id="codigo" placeholder="" [(ngModel)]="containerModif.codigo" disabled >

    </div>


    <div >
        <label for="marca" class="form-label">Marca</label>
        <input type="text" class="form-control" id="marca" placeholder="modificar marca" [(ngModel)]="containerModif.marca" >
        
    </div>

    <div >
        <label for="capacidad" class="form-label">Capacidad</label>
        <input type="number" class="form-control" id="capacidad" placeholder="modificar capacidad" [(ngModel)]="containerModif.capacidad">
        
    </div>

    <br>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="modificarContainer()" >Modificar Container</button>

</div>
